div input{
  color:green;
}
input[name=nit]{
  color:yellow;
}
@keyframes animacion{
  from{
    background-color: yellow;
  }
  to{
    background-color: blue;
  }
}
button{
  animation-name: animacion;
  animation-duration:10s;
}
